@font-face {
  font-family: "PressStart";
  src: url("assets/fonts/prstartk.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  image-rendering: pixelated;
}

body {
  margin: 0;
  background: #6fdc6f;
  font-family: "PressStart", monospace;
}

#ui {
  background: #111;
  padding: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
}

button, input {
  font-family: "PressStart", monospace;
  font-size: 10px;
  padding: 6px 8px;
  background: #222;
  color: white;
  border: 1px solid #555;
  cursor: pointer;
}

button:hover {
  background: #333;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #6fdc6f;
}
