@font-face {
  font-family: PressStart;
  src: url("assets/fonts/prstart.ttf");
}

* { margin:0; padding:0; box-sizing:border-box; }

body {
  overflow:hidden;
  background:#000;
  font-family:PressStart, monospace;
}

#game {
  display:block;
  background:#7bdc65;
}

#top-ui {
  position:fixed;
  top:10px;
  left:10px;
  z-index:10;
}

#top-ui button {
  font-family:PressStart;
  margin-right:6px;
  cursor:pointer;
}
